**/05_figures_cache/*
*.Rapp.history
.gitignore
.Rproj.user
*.md
*__packages
*.rdb
*.rdx
*.png
*.jpg
*.jpeg
*.pdf
*.Rproj
*.xlsx
*.html
*.Rhistory
*.RData
.Ruserdata
**/*.csv
*.out
*.DS*
*.RDATA
*.csvr
.A/
JDP.R
rerun_cleaning_and_compare.R
figures/raw/
